/* Global styles */
.App {
  text-align: center;
}

/* Fixed gradient background */
.gradient-background {
  position: fixed; /* Make the background fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind all other content */
  background: linear-gradient(-45deg, #a1c4fd, #c2e9fb, #fdeff9, #ffecd2);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

/* Fixed container for social buttons */
.fixed-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; /* Ensures it stays above other content */
}

/* Social buttons */
.social-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.social-button {
  color: #333; /* Icon color - choose what contrasts well with your background */
  text-decoration: none; /* Removes underline from icons */
}

.social-button:hover {
  color: #0e76a8; /* LinkedIn color for hover state, or use #333 for GitHub */
}

/* Content header */
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 60px; /* Space for the fixed-position social buttons */
  box-sizing: border-box; /* Ensure padding is included in height */
}

/* Animated gradient text */
@keyframes text-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.h1-animated-gradient {
  background: linear-gradient(-45deg, #0f4c75, #1b262c, #0f4c81, #3282b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Fallback for non-webkit browsers */
  animation: text-gradient-animation 30s ease infinite;
  background-size: 400% 400%;
}

/* Profile image styles */
.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Gradient animation for the background */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
